<h1 class="text-center text-3xl font-semibold text-gray-800 mt-8">Organize Your Life</h1>


<div class="container mx-auto px-4">

  <div class="mt-12 text-center mb-8">
    <%= link_to "Register to Create Todos", register_path, class: "bg-blue-500 text-white px-4 py-2 rounded-md" %>
  </div>

  <p class="text-center text-lg font-300 text-gray-800 mt-12">Already have an account?</p>

  <div class="mt-6 text-center mb-8">
    <%= link_to "Login here", new_session_path, class: "bg-purple-500 text-white px-4 py-2 rounded-md" %>
  </div>

</div>